.task-plan {
    display: flex;
    margin-bottom: 5vh;
}

.task-plan > .name {
    flex: 2;
    margin-right: 1vw;
}

.task-plan > .date {
    flex: 1;
}

.task-plan > .date > input {
    width: 100%;
}