.register-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    border-radius: 0.8em;
    padding: 2em;
}

.register-form > article {
    width: 100%;
}

.register-form label {
    display: block;
    margin-bottom: 0.5rem;
}

.register-form input {
    height: 2.5rem;
    border-radius: 0.8rem;
    border-style: solid;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box
}

.register-form input:focus {
    outline: none;
    border-color:#547CC8;
}

.register-button {
    margin-bottom: 0.8rem;
}

.register-button {
    margin-top: 1rem;
    background-color: #547CC8;
    border: none;
    border-radius: 0.8em;
    color: white;
    padding: 0.5em;
    font-size: 1.2rem;
    width: 100%;
}

.register-button:hover {
    background-color: rgb(51, 51, 58);
    color: #547CC8;
    cursor: pointer;
}

.login {
    color: grey;
    font-size: 0.8em;
    text-decoration: none;
}

.login:hover { color: #547CC8; }

@media only screen and (max-width: 1000px) {
    .register-form {
        width: 80vw;
    }
}

@media only screen and (max-width: 600px) {
    .register-form {
        width: 100vw;
    }
}