.task-status-container, .task-name-container, .task-date-container {
    display: inline-flex;
    flex-direction: column;
    width: 30%;
}

.upsert-task-form .task-description-container {
    margin-top: 1.5vh;
}

.upsert-task-form .task-description {
    width: 100%;
    resize: none;
}

.upsert-task-form div {
    display: flex;
    justify-content: space-between;
}