.navbar-items {
    display: flex;
    justify-content: center;
    background-color: #547CC8;
    list-style-type: none;
    border-radius: 2em;
    padding-left: 0;
}

.navbar-items > li {
    padding: 0.5em;
}

.task-icon, .calendar-icon, .logout-icon, .today-icon {
    color: white;
    transition: transform .2s;
    text-decoration: none;
    font-size: 1.4em;
}

.task-icon:hover, .calendar-icon:hover, .logout-icon:hover, .today-icon:hover {
    transform: scale(1.5);
}

.task-tooltip, .calendar-tooltip, .logout-tooltip, .today-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 8%;
    left: 50%;
    margin-left: -60px;
}

.task-link:hover + span, .calendar-link:hover + span, .logout-link:hover + span, .today-link:hover + span { 
    visibility: visible 
}

.logout-link:hover {
    cursor: pointer;
}