:root {
    --modal-duration: .4s;
    --modal-color: white;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 10% auto;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header {
    background: var(--modal-color);
    padding: 0.1vh 1vw;
    display: flex;
  }

  .modal-body {
    padding: 10px 20px;
    background: #fff;
  }

  .modal-visible {
    display: flex;
  }
  
  .modal-footer {
    display: flex;
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
    
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }