.task-status-container, .task-name-container, .task-date-container {
    display: inline-flex;
    flex-direction: column;
    width: 30%;
}

.upsert-task-form .task-description-container {
    margin-top: 1.5vh;
}

.upsert-task-form .task-description {
    width: 100%;
    resize: none;
}

.upsert-task-form div {
    display: flex;
    justify-content: space-between;
}

.upsert-task-form input[type="text"],
.upsert-task-form input[type="date"]{
    height: 1.5rem;
    padding: 1px 2px;
}

.upsert-task-form select {
    height: 1.9rem;
}

.upsert-button {
    background-color: #547CC8;
    border: none;
    color: white;
    padding: 0.5em 0.7em;
    border-radius: 0.5em;
    margin-left: auto;  
}

.upsert-button:hover {
    background-color: rgb(51, 51, 58);
    color: #547CC8;
    cursor: pointer;
}

.upsert-task-form .modal-title {
    font-size: 20px;
}

.close-upsert-task {
    margin-left: auto;
    font-size: 30px;
    color: black;
    margin-top: 0.1em;
}
  
.close-upsert-task:hover,
.close-upsert-task:focus {
    text-decoration: none;
    cursor: pointer;
    color: #547CC8;
}

@media only screen and (max-width: 1000px) {
    .upsert-task-form div {
        display: block;
    }

    .upsert-task-form input {
        margin-top: 3px;
    }

    .task-status-container, .task-name-container, .task-date-container {
        width: 100%;
        margin-top: 1em;
    }
}