.login-title {
    margin: 2rem;
}

.login-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.8em;
    padding: 2em;
    margin: 1em;
}

.login-form > article {
    width: 100%;
}

.login-form label {
    display: block;
    margin-bottom: 0.8rem;
}

.login-form input {
    height: 2.5rem;
    border-radius: 0.8rem;
    border-style: solid;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box
}

.login-form input:focus {
    outline: none;
    border-color:#547CC8;
}

.login-button {
    margin-bottom: 0.8rem;
}

.login-button {
    margin-top: 1rem;
    background-color: #547CC8;
    border: none;
    border-radius: 0.8em;
    color: white;
    padding: 0.5em;
    font-size: 1.2rem;
    width: 100%;
}

.login-button:hover {
    background-color: rgb(51, 51, 58);
    color: #547CC8;
    cursor: pointer;
}

.register, 
.forgot-password {
    color: grey;
    font-size: 0.8em;
    text-decoration: none;
}

.register:hover, 
.forgot-password:hover {
    color: #547CC8;
}

.forgot-password {
    float: right;
    margin-top: 0.5rem;
}